@model MyShop.Models.ViewModels.ServiceVM


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-primary">Edit Service</h1>
<br />
<br />

<div class="col-12 border backgroundWhite">
    <form asp-action="Edit" enctype="multipart/form-data">

        <input type="hidden" asp-for="Service.Id" />
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Service.Name" class="form-control border-0"></label>
            </div>
            <div class="col-8">
                <input asp-for="Service.Name" class="form-control" />
                <span asp-validation-for="Service.Name"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Service.Price" class="form-control border-0"></label>
            </div>
            <div class="col-8">
                <input asp-for="Service.Price"  id="txtPrice" class="form-control" />
                <span asp-validation-for="Service.Price"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Service.Description" class="form-control border-0"></label>
            </div>
            <div class="col-8">
                <textarea asp-for="Service.Description" class="form-control" style="height:300px;"></textarea>
                <span asp-validation-for="Service.Description"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label class="form-control border-0">Category Name</label>
            </div>
            <div class="col-8">
                @Html.DropDownListFor(m=>m.Service.CategoryId,Model.CategoryList,
               "- Please select a Category for edit -" , new { @class="form-control"})
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label class="form-control border-0">Category Name</label>
            </div>
            <div class="col-8">
                @Html.DropDownListFor(m=>m.Service.SubCategoryId , Model.SubCategoryList,
               "- Please select a SubCategory to Edit -" , new { @class = "form-control" })

            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label class="form-control border-0">Image</label>
            </div>
            @if (Model.Service.ImageUrl == null)
            {
                <div class="col-3">
                    <p class="form-contro text-danger border-0">No Image To Set</p>
                </div>
                <div class="col-3">
                    <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                </div>
            }
            else
            {
                <div class="col-3">
                    <img src="@Model.Service.ImageUrl" style="width:100%;border-radius:5px;border:1px solid #bbb9b9" />
                </div>
                <div class="col-3">
                    <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                </div>
            }
        </div>



        <div class="form-group row pt-5">
            <div class="col-5 offset-4">
                <partial name="_EditAndBackToListButton" model="Model.Service.Id" />
            </div>
        </div>

    </form>

</div>
