
@{
    ViewData["Title"] = "OnlinePayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Result Payment : </h1>

<div class="alert alert-success">
    <h2 class="text-success">Thank you for your choice</h2>
    <p>Your Code : @ViewBag.code </p>
</div>

